@font-face {
    font-family: "font-tieu-hoc";
    src: url("./fonts/Font-Chu-TieuHoc/HP001_4_hang_normal.ttf");
}
*{
    
    font-family: "font-tieu-hoc";
    padding: 0;
    margin: 0;
}
.center-screen{
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 3rem;
    text-center{
        text-align: center;
        // margin: 1em;
    }
    img{
        width: 50vw;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        --padding-x: 1.2em;
        border: 2px solid;
        border-radius: 4px;
        background-color: transparent;
        width: 50%;
        transition: 0.1s ease-in-out;
        font-size: 2rem;
    }
    .btn:hover{
        background-color: black;
        color: white;
        border: 2px solid black;
    }
}
.startingScreen{
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    h1{
        text-align: center;
        margin: 1em;
    }
    img{
        width: 50vw;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        --padding-x: 1.2em;
        border: 2px solid;
        border-radius: 4px;
        background-color: transparent;
        width: 50%;
        transition: 0.1s ease-in-out;
        font-size: 2rem;
    }
    .btn:hover{
        background-color: black;
        color: white;
        border: 2px solid black;
    }
}
    

.app{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    color: black;
    margin: 0;
    padding: 0;
    nav{
        background-color: #B37400;
        display: flex;
        justify-content: space-between;
        width: 90vw;
        padding: 1em;
        color: black !important ;
        border-radius: 0 0 30px 30px;
    }
    #follow{
        font-size: 250px;
        margin-top: 40px;
        margin-bottom: 10px;
    };
    #result{
        font-size: 50px;
        margin: 0;
    }
    #title{
        font-size: 40px;
    }
    #points{
        font-size: 40px;
    }
}
#root{
    display: flex;   
    justify-content: center;
    height: 100vh;
    // background-image: url("http://localhost:3000/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffa600;
}
