@font-face {
    font-family: "font-tieu-hoc";
    src: url("./fonts/Font-Chu-TieuHoc/HP001_4_hang_normal.ttf");
}
*{
    font-family: "font-tieu-hoc";
    /* background-image: url("../public/bg.jpg"); */
    /* background-color: black; */
    z-index: 1;
    color: #000000;
}
body{
    background-color: #ffa600;
}
.startingScreen{
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
}
    .startingScreen h1{
        text-align: center;
    }
    .startingScreen img{
        width: 50vw;
    }
.btn{
    border: 2px solid;
    border-radius: 4px;
    background-color: transparent;
    width: 20%;
    transition: 0.1s ease-in-out;
}
.btn:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}